# node
node_modules
npm-debug.log
package-lock.json
pnpm-lock.yaml

# yarn
yarn.lock
yarn-error.log
.yarnrc
.yarn/*
!.yarn/releases

# webstorm
.idea
.DS_Store

# project
lib
esm
example/dist
*.crt
*.key