# node
node_modules
npm-debug.log
package-lock.json

# yarn
yarn.lock
yarn-error.log

# webstorm
.idea

# ignore
.eslintignore
.npmignore
.gitignore

# packages
src
tests
test
gulpfile.js
.editorconfig
.eslintrc.yml
.eslintrc.js
babel.config.js
CHANGELOG.md
CHANGELOG_zhCN.md
tsconfig.json
*.gif

*.key
*.crt